
@model UpdateViewModel



    <div class="container">
        <div class="row justify-content-center">
            <div>
                <a asp-route="employee-list" target="_blank" class="btn btn-secondary">Employees</a>
            </div>
        </div>

        <form method="POST" asp-route="employee-update" asp-route-employeeCode="@Model.EmployeeCode">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" class="form-control" >
                <span asp-validation-for="Name" class="text-danger"></span>

            </div>
             <div class="mb-3">
                <label asp-for="Surname" class="form-label">Surname</label>
                <input asp-for="Surname" class="form-control">
                <span asp-validation-for="Surname" class="text-danger"></span>

            </div>
            <div class="mb-3">
                <label asp-for="FatherName" class="form-label">Father Name</label>
                <input asp-for="FatherName" class="form-control">
                <span asp-validation-for="FatherName" class="text-danger"></span>

            </div>
             <div class="mb-3">
                <label asp-for="FIN" class="form-label">FIN</label>
                <input asp-for="FIN" class="form-control">
                <span asp-validation-for="FIN" class="text-danger"></span>

            </div>
             <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>


            <button type="submit" class="btn btn-primary">Update</button>
        </form>

    </div>
